* {
	text-align: center;
	margin: 10px;
	padding: 0px;
}
img {
	border-radius: 100em;
	margin-left: 16em;
	padding: 14px;
}
#content-container {
	padding: 5px;
}
.projects {
	float: left;
	margin-left: 30px;
	font-size: 20px;
}
ul {
	list-style-type: none;
}

.title-name {
	font-size: 30px;
}
.about-me {
	float: right;
	margin-right: 16em;
	width: 11em;
	padding-top: 30px;
}