* {
	text-align: center;
	margin: 10px;
	padding: 0px;
}
img {
	border-radius: 100em;
	margin-left: 20em;
	padding: 35px;
}
ul {
	list-style-type: none;
}

.title-name {
	font-size: 30px;
}
.about-me {
	float: right;
	margin-right: 19em;
	width: 12em;
}